<%= render HeaderPanelComponent.new title: 'Teams' do%>
  <button type="button" class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Edit</button>
  <button type="button" class="ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Publish</button>
<%end%>

<div class="container py-12 md:items-center md:justify-between">
  <div class="grid grid-cols-2 gap-4">
    <%= render RadarComponent.new(
      blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'tool'}}),
      quadrant: :tl
    ) %>

  <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'technique'}}),
    quadrant: :tr
  ) %>

   <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'gem'}}),
    quadrant: :bl
  ) %>

  <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'infrastructure'}}),
    quadrant: :br
  ) %>
  </div>
  
</div>

