<%= render HeaderPanelComponent.new title: @team.name || "Community #{@kind.titleize}" %>
<%= render Navigation::StageTabsComponent.new %>
<%= render BodyPanelComponent.new notice: notice do%>
  <div class="flex">
    <%= render RadarComponent.new(blips: @blips) %>
  </div>
  <div class="pl-10">
    <h2 class="leading-7 text-gray-900 text-2xlfont-bold sm:truncate sm:text-3xl sm:tracking-tight">
      What's your take on the <b><%= @random_thing&.name&.singularize %></b> <%= @random_thing&.kind %> for Rails?
    </h2>
    <div class="flex pt-10 space-x-4">
      <button class="inline-block px-5 py-3 font-medium text-white bg-green-600 rounded-lg cursor-pointer">Adopt!</button>
      <button class="inline-block px-5 py-3 font-medium text-white bg-blue-600 rounded-lg cursor-pointer">Trial</button>
      <button class="inline-block px-5 py-3 font-medium text-white bg-red-600 rounded-lg cursor-pointer">Assess</button>
      <button class="inline-block px-5 py-3 font-medium text-white bg-red-600 rounded-lg cursor-pointer">Hold</button>
      <button class="inline-block px-5 py-3 font-medium text-white bg-gray-600 rounded-lg cursor-pointer">Skip</button>
    </div>
  </div>
</div>
<% end %>
<% @blips.each do |item| %>
  <details>
    <summary><%= item.position %> <%= item.interesting_thing.name %></summary>
    <p><%= item.interesting_thing.description || "No Description" %></p>
  </details>
<% end %>
<%= render PanelComponent.new do%>
  <div class="flow-root">
    <ul role="list" class="-mb-8">
      <%= render Activity::ListComponent.with_collection(@activity) %>
    </ul>
  </div>
<%end%>