<%= render PanelComponent.new bg_color: "bg-slate-50" do %>
  <%= render HeaderPanelComponent.new title: @title do%>
  <% end %>
<% end %>
<%= render PanelComponent.new bg_color: "bg-white" do %>
  <%= render Navigation::TeamTabsComponent.new %>
  <%= render BodyPanelComponent.new notice: notice do%>
    <div class="flex">
      <%= render RadarComponent.new(blips: @blips) %>
      <%= @blips.count %>
    </div>
    <div class="pl-10">
      <h2 class="leading-7 text-gray-900 text-2xlfont-bold sm:truncate sm:text-3xl sm:tracking-tight">
        What's your take on the <b><%= @random_thing&.name&.singularize %></b> <%= @random_thing&.kind %> for Rails?
      </h2>
      <%= button_to "Assess", vote_team_path(@team), params: { vote: { interesting_thing_id: @random_thing&.id, stage: :assess } }, method: :post  %>
    </div>
  </div>
</div>
<% end %>
<% end %>
<%= render PanelComponent.new bg_color: "hover: bg- bg-slate-50" do %>
  <% @blips.each_with_index do |item, index| %>
    <div class="grid max-w-xl mt-4 divide-y divide-neutral-200">
      <div class="py-2">
        <details class="group">
          <summary class="flex items-center justify-between font-medium list-none cursor-pointer">
            <span><%= index + 1 %>. <%= item.interesting_thing.name %></span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="mt-3 text-neutral-600 group-open:animate-fadeIn"><%= item.interesting_thing.description || "No Description" %></p>
        </details>
      </div>
    </div>
  <% end %>
<% end %>
<%= render PanelComponent.new bg_color: "bg-white" do %>
  <div class="flow-root">
    <ul role="list" class="-mb-8">
      <%= render Activity::ListComponent.with_collection(@activity) %>
    </ul>
  </div>
<%end%>
