<%= render HeaderPanelComponent.new title: 'Teams' do%>
  <%= render(ButtonComponent.new(variant: 'default', text: "Edit")) %>
  <%= render(ButtonComponent.new(variant: 'secondary', text: "Publish")) %>
<% end %>

<div class="container py-12 md:items-center md:justify-between">
  <div class="grid grid-cols-2 gap-4">
    <%= render RadarComponent.new(
      blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'tool'}}),
      quadrant: :tl
    ) %>

  <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'technique'}}),
    quadrant: :tr
  ) %>

   <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'gem'}}),
    quadrant: :bl
  ) %>

  <%= render RadarComponent.new(
    blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'infrastructure'}}),
    quadrant: :br
  ) %>
  </div>
  
</div>

