<%= render HeaderPanelComponent.new title: @team.name do%>
  <%= render ButtonComponent.new variant: 'default', text: "Edit" %>
  <%= render ButtonComponent.new variant: 'secondary', text: "Publish" %>
<% end %>

<%= render BodyPanelComponent.new notice: @notice do%>

  <div class="flex">
    <div>
      <div class="grid grid-cols-2 gap-4">
        <%= render RadarComponent.new(
          blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'tool'}}),
          quadrant: :tl
        ) %>

      <%= render RadarComponent.new(
        blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'technique'}}),
        quadrant: :tr
      ) %>

      <%= render RadarComponent.new(
        blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'gem'}}),
        quadrant: :bl
      ) %>

      <%= render RadarComponent.new(
        blips: @team.blips.joins(:interesting_thing).where({interesting_thing: {kind: 'infrastructure'}}),
        quadrant: :br
      ) %>
      <div>
    </div>
    <div class="flex-grow">
    </div>
  </div>
<% end %>