<div class="h-[512px] w-[512px] bg-gray-100">
  <svg width="<%=@image_size%>" height="<%=@image_size%>" xmlns="http://www.w3.org/2000/svg">
      <% @stage_ranges.reverse.each do |range| %>
        <circle cx="0" cy="<%= @image_size %>" r="<%= range.last%>" fill="white" stroke="black" >
        </circle>
    <% end %>
    <% @dots.each do |dot| %>
      <circle cx="<%= dot[0] %>" cy="<%= dot[1] %>" r="<%= @dot_radius %>" fill="black" >
      </circle>
    <% end %>
  </svg>
</div>