<div id="<%= dom_id team_blip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= team_blip.team_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= team_blip.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= team_blip.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stage:</strong>
    <%= team_blip.stage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= team_blip.group %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Community blip:</strong>
    <%= team_blip.community_blip_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this team blip", team_blip, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this team blip', edit_team_blip_path(team_blip), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
