<div id="<%= dom_id community_blip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= community_blip.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= community_blip.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Stage:</strong>
    <%= community_blip.stage %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= community_blip.group %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this community blip", community_blip, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this community blip', edit_community_blip_path(community_blip), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
