<div id="<%= dom_id interesting_thing %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= interesting_thing.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= interesting_thing.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= interesting_thing.kind %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= interesting_thing.team_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this interesting thing", interesting_thing, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this interesting thing', edit_interesting_thing_path(interesting_thing), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
